@import "../../assets/styles/variable.scss";

.loginSection {
  @include flex(column, center, center, 0);
  background-color: $blue300;
  width: 100vw;
  height: 100vh;
  padding: 7%;
  .row {
    @include flex(row, center, space-between, 0);
    border-radius: 10px;
    background-color: $white100;
    width: 75%;
    height: 100%;
    .left {
      @include flex(column, center, center, 2rem);
      width: 100%;
      height: 100%;
      form {
        @include flex(column, center, flex-start, 0.5rem);
        label {
          font-size: 1rem;
        }
        .input {
          @include flex(row, flex-start, center, 0.5rem);
          width: 300px;
          display: flex;
          align-items: center;
          gap: 5px;
          border: 1px solid #aaaaaa;
          padding: 7px 10px;
          margin: 5px 0;
          color: $blue300;
          border-radius: 5px;
          p {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            color: $blue300;
          }

          input {
            background-color: transparent;
            border: none;
            width: 100%;
            font-size: 1rem;
            color: $blue300;
            outline: none;
            &::placeholder {
              color: $blue300;
            }
          }
        }
        button {
          width: 100%;
          background-color: #0036a3;
          padding: 10px;
          font-size: 1rem;
          margin-top: 1rem;
          border: none;
          color: #fff;
          font-weight: 700;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      h1 {
        font-size: 2rem;
      }
      .registerButton {
        width: 100%;
        background-color: #ffffff;
        padding: 10px;
        font-size: 1rem;
        margin-top: -1rem;
        border: none;
        color: #0036a3;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
      }
      .error {
        color: #ff0000;
        font-size: 1rem;
      }
    }
    .right {
      @include flex(column, flex-end, flex-end, 0);
      padding: 1rem;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 7px;
      }
    }
  }
}
