@import "../../assets/styles/variable.scss";

.contact {
  overflow: hidden;
  @include flex(row, space-between, flex-start, 3rem);
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 8% 10%;
  .left {
    width: 50%;
    height: 100%;
    @include flex(column, flex-start, flex-start, 2rem);
    h1 {
      font-size: 3rem;
      margin-bottom: -1rem;
      margin-top: -1rem;
      color: $blue300;
    }
    form {
      @include flex(column, space-between, flex-start, 1rem);
      width: 85%;
      div {
        @include flex(column, space-between, flex-start, 5px);
        width: 100%;
        position: relative;
        label {
          font-size: 1rem;
          font-weight: 700;
        }
        input,
        textarea {
          width: 95%;
          background-color: transparent;
          border: 2px solid #dedede;
          padding: 10px;
          border-radius: 5px;
          font-size: 1rem;
          outline: none;
          resize: none;

          &::placeholder {
            font-size: 1rem;
            color: #dedede;
          }
        }
        textarea {
          height: 100px;
        }
        .edit {
          position: absolute;
          bottom: 0.5rem;
          right: 2.5rem;
          font-size: 1.2rem;
          color: #515151;
        }
      }
      .checkbox {
        @include flex(row, flex-start, flex-start, 1rem);
        .border {
          @include flex(row, center, center, 10px);
          .click,
          .noclick {
            text-align: center;
            padding: 1px 5px;
            @include flex(column, center, center, 0);
            background-color: transparent;
            border-radius: 5px;
            border: 2px solid #dedede;
            transition: all ease-in-out 0.3s;
            cursor: pointer;
          }
          .noclick {
            color: transparent;
          }
          .click {
            background-color: #0036a3;
            transition: all ease-in-out 0.3s;
            color: #fff;
          }
        }
        input {
          position: absolute;
          width: 0;
          opacity: 0;
          height: 0;
        }
      }
      button {
        width: 100%;
        background-color: #0036a3;
        padding: 10px;
        font-size: 1rem;
        border: none;
        color: #fff;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .right {
    width: 50%;
    @include flex(column, flex-start, flex-start, 0);
    height: 100%;
    .row {
      @include flex(column, center, center, 2rem);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      p {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
      }
      .icons {
        @include flex(row, center, center, 5rem);
        p {
          font-size: 3rem;
          color: $blue300;
        }
      }
    }
  }
  .background {
    @include flex(column, flex-end, flex-end, 0);
    z-index: -1;
    position: absolute;
    bottom: -30rem;
    right: -30rem;
    width: 120%;
    height: 120%;
  }
  .bottom {
    @include flex(column, center, center, 0);
    position: absolute;
    bottom: 3rem;
    right: 10rem;
    img {
      margin: 10px;
    }
    p {
      color: $white100;
      font-size: 12px;
    }
  }
}
