@import "../../assets/styles/variable.scss";

.feature {
  @include flex(row, space-between, flex-start, 3rem);
  width: 100vw;
  height: 100vh;
  padding: 6% 15%;
  position: relative;
  .left,
  .right {
    @include flex(column, space-between, flex-start, 1rem);
  }
  .card {
    width: 275px;
    height: 225px;
    padding: 1rem;
    background-color: $blue300;
    color: $white100;
    border-radius: 7px;
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .center {
    @include flex(column, flex-start, center, 1rem);
    padding-top: 1rem;
    h1 {
      font-size: 2.5rem;
      color: $blue300;
    }
    img {
      width: 300px;
      height: 600px;
    }
  }
}
