@import "../../assets/styles/variable.scss";

.navbar {
  position: fixed;
  width: 100vw;
  height: 10vh;
  padding: 1rem 3rem;
  background-color: $white100;
  z-index: 99;
  @include flex(row, space-between, center, 0);
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    img {
      width: 150px;
      height: 50px;
    }
  }
  .right {
    width: 70%;
    @include flex(row, center, center, 2rem);
    .nav {
      padding: 10px 50px;
      font-weight: 700;
      color: $black100;
      text-decoration: none;
    }
    .nav:hover {
      transition: $fastIO;
      border-bottom: 4px solid $blue300;
    }
    .active {
      transition: $superfastIO;
      border-bottom: 4px solid $blue300;
    }
  }
}
