// Color
$blue100: #d9e3f7;
$blue200: #0067b3;
$blue300: #003060;
$white100: #ffffff;
$black100: #0f0f0f;

// font Size
$size500: 5rem;
$size400: 4rem;
$size300: 3rem;
$size250: 2.5rem;
$size200: 2rem;
$size180: 1.8rem;
$size170: 1.7rem;
$size150: 1.5rem;
$size130: 1.3rem;
$size120: 1.2rem;
$size110: 1.1rem;
$size100: 1rem;
$size090: 0.9rem;
$size080: 0.8rem;
$size070: 0.7rem;

//transition
$superfastIn: all ease-in 0.1s;
$superfastOut: all ease-out 0.1s;
$superfastIO: all ease-in-out 0.1s;
$fastIn: all ease-in 0.3s;
$fastOut: all ease-out 0.3s;
$fastIO: all ease-in-out 0.3s;
$mediumIn: all ease-in 0.5s;
$mediumOut: all ease-out 0.5s;
$mediumIO: all ease-in-out 0.5s;
$slowIn: all ease-in 0.7s;
$slowOut: all ease-out 0.7s;
$slowIO: all ease-in-out 0.7s;

@mixin flex($flex, $just, $align, $gap) {
  display: flex;
  flex-direction: $flex;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}

@mixin size($width, $height, $padding) {
  width: $width;
  height: $height;
  padding: $padding;
}
