.beranda_select {
  color: #fff;
  background-color: #003060;
  margin-top: 40px;
  margin-left: 60px;
  border-radius: 5px;
  padding: 1%;
  font-size: 16px;
}

.beranda_title {
  position: absolute;
  margin-left: 100vh;
  color: #003060;
  font-size: 17px;
}
